@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: rgba(242, 242, 242, 1);
}

main {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

footer {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  height: 120px;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.header-logo-sedona {
  display: block;
  margin-right: 28px;
  margin-left: 70px;
}

.navigation {
  height: 64px;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  width: 1200px;
  color: #000000;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  margin-right: 285px;
  padding: 0;
  margin: 0;
}

.navigation-link:nth-child(1) {
  padding: 20px 16px;
}

.navigation-link:nth-child(2) {
  padding: 20px 16px;
}

.navigation-link:nth-child(3) {
  padding: 20px 16px;
}

.navigation-link {
  margin-right: 0;
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 22px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.main-logo {
  background-image: url("../images/images-main-index.jpg");
  width: 1200px;
  height: 485px
}

.image-sedona-in-index {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.user-list {
  margin-left: auto;
  margin-right: 70px;
  display: flex;
}

.user-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 22px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.advantages-title {
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 25px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 700px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.advantages-sedona-better {
  margin: 0 auto;
  margin-bottom: 69px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.advantages-item {
  display: flex;
  width: 1200px;
}

.advantages-list {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item:nth-child(1) {
  margin: 0 auto;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 385px;
  color: rgba(255, 255, 255, 1);
  background: rgba(130, 179, 211, 1);
}

.advantages-item-img-first {
  display: block;
  margin-left: auto;
}

.advantages-item:nth-child(2) {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 385px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  color: rgba(0, 0, 0, 1);
}

.advantages-item:nth-child(3) {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 385px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
  color: rgba(0, 0, 0, 1);
}

.advantages-item:nth-child(4) {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 385px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
  color: rgba(0, 0, 0, 1);
}

.advantages-item:nth-child(5) {
  padding-right: 60px;
  margin: 0 auto;
  flex-direction: column;
  height: 385px;
  display: flex;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}

.advantages-item-img-second {
  order: -1;
}

.advantages-item-title {
  margin-top: 112px;
  align-self: center;
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21px;
  text-align: center;
}

.user-link-button {
  border-radius: 4px;
  padding: 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.service-title {
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 20px;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.service-text {
  margin: 0 auto;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 22px;
  line-height: 26px;
  text-align: Center;
  color: rgba(51, 51, 51, 1);
}

.service-item-title {
  margin-top: 183px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.service-item-text {
  margin-bottom: 81px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.service-list {
  display: flex;
}

.service-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 385px;
}

.service-item:nth-child(1) {
  margin: 0 auto;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item:nth-child(2) {
  margin: 0 auto;
}

.service-item:nth-child(3) {
  margin: 0 auto;
  background-color: rgba(131, 179, 211, 0.12);
}

.find_hotel_text1 {
  margin: 0 auto;
  width: 1200px;
  margin-top: 96px;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700px;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.find_hotel_text2 {
  margin: 0 auto;
  width: 1200px;
  margin-bottom: 54px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.find_hotel_button {
  border-radius: 4px;
  width: 376px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 96px;
}

.pagination-subscribe-title {
  margin: 0 auto;
  width: 1200px;
  padding-top: 96px;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  text-align: Center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.pagination-subscribe {
  background-color: #756157;
  background-position: 50% 50%;
}

.pagination-subscribe-text {
  margin: 0 auto;
  margin-bottom: 54px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400px;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.email-form {
  text-align: center;

}

.subscribe-button {
  margin: 0 auto;
  margin-bottom: 104px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.footer-index {
  margin: 0 auto;
  display: flex;
}

.social-link-name {
  margin-right: 236px;
}

.contacts {
  display: block;
  padding-top: 45px;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 22px;
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 720px;
  height: 50px;
  margin-left: 253px;
}

.logo_html_academy {
  display: block;
  margin-left: auto;
  padding-top: 45px;
}

.main-header-in-catalog {
  display: flex;
}

.find_Hotel_Form_title_catalog {
  margin-left: 70px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 60px;
  line-height: 78px;
  color: rgba(255, 255, 255, 1);
}

.find_Hotel_Form {
  margin: 0 auto;
  background-color: rgba(117, 98, 87, 1);
  font-family: "PT Sans", sans-serif;
  background-repeat: no-repeat;
}

.find_hotel_hotels {
  margin-left: 111px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
}

.filter-options-group {
  margin-left: 70px;
  width: 151px;
  height: 157px;
  border: none;
}

.filter-options-group:nth-child(3) {
  margin-left: 140px;
  width: 288px;
  height: 157px;
  border: none;
}

.filer-options-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.filter-buttons {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.button-blue {
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  margin-bottom: 32px;
}

.button-empty {
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: none;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.navigation-link-hotel {
  font-family: "PT Sans", sans-serif;
  width: 68px;
  line-height: 22px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid rgba(117, 98, 87, 1);
}

.result {
  display: flex;
  margin: 0 auto;
}

.hotels-search {
  margin-left: 70px;
  margin-top: 50px;
  margin-right: 200px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}

.result-select-control {
  margin-top: 50px;
  margin-right: 70px;
  width: 292px;
  height: 49px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400px;
  color: rgba(51, 51, 51, 1);
  border: 2px solid rgba(229, 229, 229, 1);
}

.filter-options-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 1);
}

.hotel_choice_link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 69px;
  margin-top: 39px;
  gap: 20px;
}

.hotel_choice_span_href {
  text-decoration: none;
}

.hotel_choice_span.hotel_choice_span {
  font-family: "PT Sans", sans-serif;
  margin-left: 20px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.hotel_choice_span_second {
  margin-left: auto;
  margin-right: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.hotel_choice_item {
  width: 340px;
  height: 458px;
  border: 1px solid rgba(230, 230, 230, 1);
  font-family: "PT Sans", sans-serif;
}

.description-cart {
  display: flex;
  flex-wrap: wrap;
}

.hotel_choice_img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.hotel_choice_title {
  margin-left: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 24px;
  margin-top: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.hotel_choice_details {
  margin-left: 20px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  margin-right: 20px;
  padding: 8px 26px 8px 26px;
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
}

.hotel_choice_rating {
  border-radius: 4px;
  padding: 8px 28px 8px 28px;
  margin:  16px 0 0 180px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
  text-transform: uppercase;
}

.favorites-button {
  border-radius: 4px;
  padding: 8px 20px 8px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.favorites-button-2-hotel {
  border-radius: 4px;
  padding: 8px 20px 8px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgba(125, 181, 79, 1);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}
.number-link {
  margin-bottom: 60px;
  display: flex;
  gap: 8px;
  margin-left: 70px;
  margin-top: 80px;
}
.number-list {
  margin: 0 auto;
  border-radius: 4px;
  padding: 23px 23px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.first {
  border-radius: 4px;
  padding: 23px 23px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-subscribe-catalog {
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

.pagination-subscribe-title-catalog {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  text-align: Center;
  color: rgba(0, 0, 0, 1);
  margin-top: 96px;
}

.pagination-subscribe-text-catalog {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 54px;
}
