@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  background-color: rgba(242, 242, 242, 1);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

header {
  width: 1200px;
  z-index: 0;
  margin: 0 auto;
  background-color: #ffffff
}

main {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

footer {
  width: 1200px;
  background-color: #ffffff;
  height: 120px;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.header-logo-sedona {
  display: block;
  margin-right: 28px;
  margin-left: 70px;
}

.navigation {
  height: 64px;
  margin: 0 auto;
  display: flex;
  width: 1200px;
  color: #000000;
}

.navigation-list {
  display: flex;
  margin-right: 285px;
  margin-left: 46px;
  padding: 0;
  margin: 0;
}

.navigation-link {
  padding: 20px 16px;
  position: relative;
  margin-right: 0;
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.navigation-item {
  list-style-type: none;
}

.navigation-icon {
  fill: #000000;
}

.user-link:hover .navigation-icon,
.user-link:focus .navigation-icon {
  fill: #756157;
}

.user-link:active .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-link:focus:not(.navigation-link-home):not(.navigation-link-hotels),
.navigation-link:hover:not(.navigation-link-home):not(.navigation-link-hotels) {
  color: rgba(117, 97, 87, 1);
}

.navigation-link:active:not(.navigation-link-home):not(.navigation-link-hotels) {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-home::before {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  border-bottom: 2px solid #756157;
  content: "";
}

.user-list {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 70px;
  display: flex;
}

.user-link {
  display: block;
  font-family: "PT Sans", sans-serif;
  line-height: 22px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
}

.user-link:first-child {
  padding: 22px 12px;
}

.user-item:nth-child(2) {
  margin-right: 20px;
}

.user-item {
  list-style-type: none;
}

.user-link-button {
  align-items: center;
  display: block;
  margin-top: 14px;
  border-radius: 4px;
  padding: 8px 34px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.user-link-button:hover,
.user-link-button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.user-link-button:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.numbers-hotels-favorites {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  align-items: center;
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 1);
  padding: 5px 5px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-12px, -12px);
}

/*main*/
.main-logo {
  background-image: url("../images/main-logo-background-white.svg"), url("../images/images-main-index.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: #82B3D3;
}

.image-sedona-in-index {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 83px;
}

/*advantages*/
.advantages-title {
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 25px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 700px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.advantages-sedona-better {
  margin: 0 auto;
  margin-bottom: 88px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.advantages-item {
  list-style-type: none;
  display: flex;
}

.advantages-phrasa::before {
  order: 1;
  margin-top: 20px;
  transform: translateY(-1px);
  margin-right: 170px;
  margin-left: 170px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-phrasa-first::before,
.advantages-phrasa-last::before {
  order: 1;
  transform: translateY(-12px);
  margin-right: 170px;
  margin-left: 170px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  position: relative;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(5) {
  display: flex;
  min-height: 385px;
  color: rgba(255, 255, 255, 1);
  background: rgba(130, 179, 211, 1);
}

.advantages-item-img-first {
  display: block;
  margin-left: auto;
}

.advantages-item-img-second {
  order: -1;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  display: flex;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
  color: rgba(0, 0, 0, 1);
}
.advantages-item:nth-child(3) {
  display: flex;
  min-height: 385px;
  background-color:rgba(131, 179, 211, 0.2);
  color: rgba(0, 0, 0, 1);
}
.advantages-phrasa {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advantages-item-title-center {
  transform: translateY(10px);
}

.advantages-item-text-center {
  transform: translateY(10px);
}

.advantages-item-title {
  font-family: "PT Sans", sans-serif;
  margin-top: 102px;
  font-weight: 700px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-text {
  order: 2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21px;
  text-align: center;
}

/*service*/
.service-list {
  display: flex;
  padding: 0;
}

.service-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 385px;
}

.service-title {
  margin-top: 64px;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.service-text {
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.service-item-title {
  margin-top: 183px;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.service-item-text {
  transform: translateY(-11px);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.service-item:nth-child(1) {
  background-image: url(../images/house.svg);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item:nth-child(2) {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.service-item:nth-child(3) {
  background-image: url(../images/present.svg);
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-color: rgba(131, 179, 211, 0.12);
}

/*find_hotels*/
.find_hotel_text_first {
  margin-top: 96px;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700px;
  line-height: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.find_hotel_text_second {
  margin-bottom: 53px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.find_hotel_button {
  margin: 0 auto;
  border-radius: 4px;
  width: 376px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  display: block;
  margin-bottom: 91px;
}

.find_hotel_button:focus,
.find_hotel_button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.find_hotel_button:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.pagination-subscribe-title {
  padding-top: 100px;
  margin-bottom: 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.pagination-subscribe {
  background-image: url("../images/Subscribe-background.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.pagination-subscribe-text {
  margin-bottom: 51px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.email-form {
  display: flex;
}

.email-input {
  display: block;
  width: 452px;
  height: 52px;
  padding-left: 20px;
  margin-bottom: 104px;
  margin-left: 258px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.subscribe-button {
  margin-right: 258px;
  margin-bottom: 104px;
  padding: 8px 50px 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  border-radius: 0 4px 4px 0;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.subscribe-button:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: rgba(104, 162, 202, 1);
}


/* графика каталога*/
.navigation-link-hotels::before {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  border-bottom: 2px solid #756157;
  content: "";
}

.button_home_in_catalog:hover,
.button_home_in_catalog:focus {
  fill: rgba(255, 255, 255, 0.6);
}

.button_home_in_catalog:active {
  fill: rgba(255, 255, 255, 0.3);
}

.button_home_in_catalog {
  fill: #ffffff;
}

.find_Hotel_Form_title_catalog {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 35px;
  margin-left: 70px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: rgba(255, 255, 255, 1);
}

.find_Hotel_Form_item {
  list-style-type: none;
  margin-right: 30px;
}

.find_Hotel_Form {
  margin: 0 auto;
  background-image: url("../images/catalog-filter.png");
  font-family: "PT Sans", sans-serif;
  background-repeat: no-repeat;
}

.find_Hotel_Form_link {
  position: relative;
  list-style-type: none;
  display: block;
}

.find_Hotel_Form_link::before {
  position: absolute;
  content: "";
  display: block;
  top: 6px;
  right: -18px;
  width: 8px;
  height: 19px;
  background: url(../images/arrows-catalog.svg) no-repeat;
}

.find_Hotel_Form_item:last-child .find_Hotel_Form_link::before {
  content: none;
}

.main-header-li-in-catalog {
  list-style-type: none;
}

.main-header-in-catalog {
  margin: 0;
  display: flex;
  margin-left: 54px;
  padding: 0;
}

.main-header-li-in-catalog:first-child {
  margin-right: 37px;
}

.main-header-li-in-catalog:nth-child(3) {
  margin-left: 110px;
}

.find_Hotel_Form_list {
  margin-top: 8px;
  padding-left: 0;
  margin-bottom: 38px;
  display: flex;
  padding: 0;
  margin-left: 70px;
}

.find_hotel_hotels {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
}

.control-mark:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-mark:focus {
  outline: 2px solid rgba(104, 162, 202, 1);
}

.control-mark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-options-input[type="checkbox"]:checked + .control-mark::before,
.filter-options-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  content: "";
  background-image: url(../images/input-button-chekbox.svg);
}

.control-radio-mark {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
}

.control-radio-mark:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-radio-mark:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.control-radio-mark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-options-input[type="radio"]:checked + .control-radio-mark::before,
.filter-options-input[type="radio"]:checked + .control-radio-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
}

.control-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 1);
}

.control-label:hover {
  color: rgba(255, 255, 255, 0.6);
}

.control-label:focus {
  color: rgba(255, 255, 255, 0.6);
  outline: 2px solid rgba(104, 162, 202, 1);
}

.control-label:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-options-group {
  min-width: 150px;
  position: relative;
  padding-bottom: 73px;
  border: none;
}

.filter-options-list {
  padding: 0;
}

.filter-options-item {
  list-style-type: none;
  margin-bottom: 16px;
}

.filer-options-title {
  padding-bottom: 25px;
  margin-top: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

.min-price-control {
  position: relative;
}

.filter-price-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.filter-options-bottom {
  list-style-type: none;
}

.price-min-phrasa {
  position: absolute;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  right: 20px;
  top: 0;
  opacity: 0.3;
  color: rgba(0, 0, 0, 1);
}

.max-price-control {
  position: relative;
}

.price-max-phrasa {
  position: absolute;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  right: 20px;
  top: 0;
  opacity: 0.3;
  color: rgba(0, 0, 0, 1);
}

.catalog-filter-input-max:hover {
  background-color: rgba(230, 230, 230, 1);
}

.catalog-filter-input-max:active,
.catalog-filter-input-max:focus {
  border-radius: 0 4px 4px 0;
  outline: 3px solid #83b3d3;
  background: #e6e6e6;
}

.catalog-filter-input-max {
  width: 123px;
  padding-left: 20px;
  height: 45px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.catalog-filter-input-min:hover {
  background-color: rgba(230, 230, 230, 1);
}

.catalog-filter-input-min:active,
.catalog-filter-input-min:focus {
  border-radius: 4px 0 0 4px;
  outline: 3px solid #83b3d3;
  background: #e6e6e6;
}

.catalog-filter-input-min {
  width: 123px;
  padding-left: 20px;
  height: 45px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.filter-buttons {
  margin-top: 55px;
  margin-left: auto;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}

.button-blue {
  padding: 8px 50px 8px 50px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.button-blue:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-blue:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button-empty:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-empty:focus {
  color: rgba(255, 255, 255, 0.6);
}

.button-empty:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-empty {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding: 8px 58px 8px 58px;
  color: rgba(255, 255, 255, 1);
  border: none;
  text-transform: uppercase;
  background-color: transparent;
}

.catalog-filter-input-min {
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.catalog-filter-input-max {
  border-radius: 0 4px 4px 0;
  border: none;
}

.range-scale {
  position: relative;
  width: 226px;
  left: 63px;
  margin-top: 45px;
  height: 4px;
  background: #707070;
}

.range-bar {
  position: absolute;
  height: 4px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  min-height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.toggle-min {
  top: -8px;
  left: -1px;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
}

.catalog-filter-input-min::-webkit-outer-spin-button,
.catalog-filter-input-min::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input-max::-webkit-outer-spin-button,
.catalog-filter-input-max::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.navigation-link-hotel {
  font-family: "PT Sans", sans-serif;
  width: 68px;
  line-height: 22px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid rgba(117, 98, 87, 1);
}

.result {
  display: flex;
  margin-top: 17px;
}

.result-list {
  transform: translateX(-40px);
  margin-top: 18px;
  display: flex;
}

.result-link {
  position: relative;
  padding: 0;
}

.result-item {
  list-style: none;
  width: 45px;
  height: 45px;
  margin-right: 8px;
  border-radius: 4px;
  border: 2px solid rgba(229, 229, 229, 1);
}

.result-item:first-child {
  width: 45px;
  height: 45px;
  margin-right: 8px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 1);
}

.result-item:hover {
  border: 2px solid rgba(104, 162, 202, 1);
  border-radius: 4px;
}

.result-item:active {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
}

.result-item:focus {
  border: 2px solid rgba(104, 162, 202, 1);
  border-radius: 4px;
}

.button-icons-catalog {
  position: absolute;
  top: 23px;
  right: 0;
  bottom: 0;
  left: 15px;
  margin: auto;
  fill: #dbdbdb;
}

.hotels-search {
  margin-left: 70px;
  margin-right: 200px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}

.result-select-control {
  margin-top: 20px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  margin-right: 70px;
  width: 292px;
  padding-left: 16px;
  height: 49px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400px;
  color: rgba(51, 51, 51, 1);
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.result-select-control:hover,
.result-select-control:focus {
  outline: 2px solid rgba(104, 162, 202, 1);
  border-radius: 4px;
}

.result-select-control:active {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.3);
}

.button-icons-catalog {
  fill: #000000;
}

.filter-options-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 23px;
  color: rgba(255, 255, 255, 1);
}

.filter-options-label:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-options-label:focus {
  color: rgba(255, 255, 255, 1);
}

.filter-options-label:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel_choice_link {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  margin-left: 69px;
  margin-top: 21px;
  padding-bottom: 22px;
  gap: 20px;
}

.hotel_choice_span_href {
  text-decoration: none;
}

.hotel_choice_span.hotel_choice_span {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 16px;
  margin-left: 20px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.hotel_choice_span_second {
  margin: 0 20px 16px auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 51, 51, 1);
}

.hotel_choice_item {
  list-style-type: none;
  width: 340px;
  height: 438px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
}

.description-cart {
  display: flex;
  flex-wrap: wrap;
}

.hotel_choice_img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.hotel_choice_title {
  margin: 16px 0 16px 20px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.hotel_choice_details {
  margin-left: 20px;
  margin-right: auto;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 8px 26px 8px 26px;
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
}

.hotel_choice_details:hover {
  background-color: rgba(97, 80, 72, 1);
}

.hotel_choice_details:focus {
  background-color: rgba(97, 80, 72, 1);
}

.hotel_choice_details:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.hotel_choice_rating {
  border-radius: 4px;
  padding: 8px 23px 8px 23px;
  margin: 16px 20px 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
  text-transform: uppercase;
}

.favorites-button {
  margin-right: 20px;
  border-radius: 4px;
  margin-left: 16px;
  padding: 8px 20px 8px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgba(130, 179, 211, 1);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.favorites-button:hover {
  background-color: rgba(104, 162, 202, 1);
}

.favorites-button:focus {
  background-color: rgba(104, 162, 202, 1);
}

.favorites-button:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.favorites-button-2-hotel {
  border-radius: 4px;
  margin-right: 20px;
  padding: 8px 18px 8px 18px;
  margin-left: 16px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: rgba(125, 181, 79, 1);
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.favorites-button-2-hotel:hover {
  background-color: rgba(108, 158, 66, 1);
}

.favorites-button-2-hotel:focus {
  background-color: rgba(108, 158, 66, 1);
}

.favorites-button-2-hotel:active {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3);
}

.star-3::before {
  width: 63px;
  margin-left: 20px;
}

.star-4::before {
  width: 86px;
  margin-left: 21px;
}

.star-2::before {
  width: 42px;
  margin-left: 20px;
}

.star::before {
  content: "";
  margin-top: 26px;
  display: block;
  height: 17px;
  background-image: url(../images/star-cards-catalog.svg);
  background-repeat: space no-repeat;
  background-size: contain;
}

.number-link {
  padding: 0;
  border-top: 1px solid rgba(230, 230, 230, 1);
  margin: 0 70px 0 70px;
  display: flex;
  gap: 8px;
  padding-top: 40px;
}

.number-item {
  list-style: none;
  position: relative;
}

.number-list {
  margin: 0 auto;
  border-radius: 4px;
  display: block;
  width: 60px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  text-decoration: none;
  text-transform: uppercase;
  border: none;

}

.number-list-pages-cards {
  position: absolute;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.number-list-closed {
  margin: 0 auto;
  border-radius: 4px;
  padding: 0 30px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.number-list:not(.first):hover {
  background-color: rgba(104, 162, 202, 1);
}

.number-list:not(.first):focus {
  background-color: rgba(104, 162, 202, 1);
}

.number-list:not(.first):active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.first {
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-subscribe-catalog {
  background-color: #ffffff;
  font-family: "PT Sans", sans-serif;
}

.pagination-subscribe-title-catalog {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700px;
  font-size: 30px;
  line-height: 36px;
  text-align: Center;
  color: rgba(0, 0, 0, 1);
  margin-top: 155px;
  margin-bottom: 0;
}

.pagination-subscribe-text-catalog {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  margin-top: 20px;
  font-weight: 400px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 54px;
}

.footer-index {
  margin: 0 auto;
  display: flex;
}

.social-list {
  padding: 0;
  display: flex;
  margin-top: 43px;
  margin-left: 70px;
}

.social-link {
  display: block;
  padding: 13px 13px;
}

.social-item {
  list-style-type: none;
}

.social-icon {
  fill: rgba(131, 179, 211, 1);
}

.social-link:hover .social-icon {
  fill: rgba(104, 162, 202, 1);
}

.social-link:focus .social-icon {
  fill: rgba(104, 162, 202, 1);
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts {
  display: block;
  margin-top: 55px;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 22px;
  color: black;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  margin-left: 235px;
  margin-right: 235px;
}

.contacts:hover {
  color: #756157;
}

.contacts:focus {
  color: #756157;
}

.contacts:active {
  color: #7561574d;
}

.logo_html_academy {
  fill: #000000;
  display: block;
  margin-right: 68px;
  margin-top: 48px;
}

.logo_html_academy_link:hover .logo_html_academy {
  fill: #756157;
}

.logo_html_academy_link:focus .logo_html_academy {
  fill: #756157;
}

.logo_html_academy_link:active .logo_html_academy {
  fill: rgba(117, 97, 87, 0.3);
}

/*modal-winter*/
.modal-container {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-auth {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 54px;
  width: 14px;
  height: 14px;
  background-color: rgba(242, 242, 242, 1);
  padding: 26px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: rgba(230, 230, 230, 1);
}

.modal-close-button:focus {
  background-color: rgba(230, 230, 230, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.modal-close-button:active {
  background-color: rgba(230, 230, 230, 0.6);
  fill: rgba(0, 0, 0, 0.3);
}

.modal-icon-close {
  position: absolute;
  top: 19px;
  left: 18px;
  fill: rgba(0, 0, 0, 1);
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: 70px;
  padding-top: 64px;
  color: rgba(0, 0, 0, 1);
}

.modal-label {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.modal-label-last {
  margin-left: 38px;
}

.modal-phrasa {
  position: absolute;
  top: 52px;
  left: 156px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.phrasa-departure {
  color: rgba(51, 51, 51, 1);
}

.phrasa-stop-by {
  color: rgba(255, 87, 87, 1);
}

.modal-list {
  display: flex;
  flex-wrap: wrap;
  margin: 64px 0 0 70px;
  padding: 0;
  gap: 48px;
}

.modal-item {
  list-style-type: none;
  position: relative;
}

.modal-input {
  border: none;
  background-color: rgba(242, 242, 242, 1)
}

.modal-input-data-first {
  width: 408px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 12px 12px 12px 20px;
  margin-left: 21px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 1);
}

.modal-input-data-second {
  width: 408px;
  padding: 12px 12px 12px 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 15px;
  color: rgba(0, 0, 0, 1);
  border-radius: 4px;
}

.modal-input-data-first:hover,
.modal-input-data-second:hover {
  background-color: rgba(229, 229, 229, 1);
}

.modal-input-data-first:focus,
.modal-input-data-second:focus {
  background-color: rgba(229, 229, 229, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.modal-calendar-button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: 4px;
  right: 12px;
  width: 40px;
  height: 40px;
}

.modal-calendar-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-button-numder-people-minus {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 45px;
  height: 50px;
}

.minus-first {
  top: -3px;
  left: 135px;
}

.minus-second {
  top: -3px;
  left: 165px;
}

.modal-button-numder-people-plus {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 45px;
  height: 45px;
  top: 2px;
  right: -1px;
}

.modal-input-quantity-first:hover,
.modal-input-quantity-second:hover {
  background-color: rgba(229, 229, 229, 1);
}

.modal-input-quantity-first:focus,
.modal-input-quantity-second:focus {
  background-color: rgba(229, 229, 229, 1);
  outline: 3px solid rgba(131, 179, 211, 1);
}

.modal-button-numder-people-minus:hover .modal-icon,
.modal-button-numder-people-minus:focus .modal-icon,
.modal-button-numder-people-plus:hover .modal-icon,
.modal-button-numder-people-plus:focus .modal-icon {
  fill: #000000;
}

.modal-button-numder-people-minus:active .modal-icon,
.modal-button-numder-people-plus:active .modal-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.modal-icon {
  fill: rgba(117, 97, 87, 1);
}

.modal-input-quantity-first {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 110px;
  text-align: center;
  border-radius: 4px;
  margin-left: 40px;
  height: 48px;
}

.modal-input-quantity-second {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  width: 110px;
  text-align: center;
  border-radius: 4px;
  margin-left: 76px;
  height: 48px;
}

.modal-input::-webkit-outer-spin-button,
.modal-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-button {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: none;
  background-color: rgba(131, 179, 211, 1);
  padding: 18px 256px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 45px;
  margin-bottom: 64px;
}

.modal-button:hover,
.modal-button:focus {
  background-color: rgba(104, 162, 202, 1);
}

.modal-button:active {
  background-color: rgba(104, 162, 202, 1);
  color: rgba(255, 255, 255, 0.3);
}

.modal-tooltip {
  position: absolute;
  margin-left: 5px;
  margin-top: 11px;
}

.tooltip-toggle {
  border: none;
  background-color: rgba(131, 179, 211, 1);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin: 0;
  display: block;
}

.tooltip-toggle:hover,
.tooltip-toggle:focus {
  background-color: rgba(104, 162, 202, 1);
}

.tooltip-icon {
  color: #ffffff;
  display: block;
  padding: 6px;
}

.tooltip-text {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -116px;
  top: 40px;
  background-color: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  width: 200px;
  padding: 22px 28px;
  border-radius: 10px;
  z-index: 1;
  display: none;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}
