@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

}

.page-header {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}

footer {
  background-color: #FFFFFF;
  width: 1200px;
  min-height: 120px;
}

.main-container {
  flex-grow: 1;
  position: relative;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
.header-logo-sedona {
  display: block;
  z-index: 1;
  position: absolute;
  margin-left: 70px;
}

.header-logo-sedona:focus-visible {
  outline: 2px solid #82B3D3;
}

.navigation {
  display: flex;
  margin: 0 auto;
  color: #000000;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin-left: 197px;
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #000000;
  position: relative;
  display: block;
  padding: 20px 16px;
  margin-right: 0;
  text-decoration: none;
}

.navigation-item {
  list-style-type: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -3px;
  margin: auto;
  fill: #000000;
}

.user-link:hover .navigation-icon,
.user-link:focus .navigation-icon {
  fill: #756157;
}

.user-link:active .navigation-icon {
  opacity: 0.3;
}

.navigation-link:focus-visible:not(.navigation-link-home):not(.navigation-link-hotels) {
  color: #756157;
  outline: 2px solid #82B3D3;
}

.navigation-link:hover:not(.navigation-link-home):not(.navigation-link-hotels) {
  color: #756157;
}

.navigation-link:active:not(.navigation-link-home):not(.navigation-link-hotels) {
  opacity: 0.3;
}

.navigation-link-home::before {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  border-bottom: 2px solid #756257;
  content: "";
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  max-width: 270px;
  margin-left: auto;
  margin-right: 70px;
}

.user-link {
  position: relative;
  display: block;
}

.user-link:focus-visible {
  outline: 2px solid #82B3D3;
}

.user-link:first-child {
  padding: 31px 20px;
}

.user-item:nth-child(2) {
  margin-right: 24px;
}

.user-item {
  list-style-type: none;
}

.user-link-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #756157;
  display: block;
  margin-top: 14px;
  padding: 8px 34px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.user-link-button:hover {
  background-color: #615048;
}

.user-link-button:focus-visible {
  outline: 2px solid #82B3D3;
  background-color: #615048;
}

.user-link-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.user-link-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.numbers-hotels-favorites {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  align-items: center;
  background-color: #7DB54F;
  color: #FFFFFF;
  padding: 5px 5px;
  border-radius: 50%;
  position: absolute;
  top: 11px;
  right: 1px;
}

/*main*/
.main-logo {
  background-image: url("../images/main-logo-background-white.svg"), url("../images/images-main-index.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: #82B3D3;
}

.image-sedona-in-index {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 84px;
}

.advantages-title {
  max-width: 630px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.advantages-sedona-better {
  font-family: "PT Sans", sans-serif;
  max-width: 660px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  margin-bottom: 88px;
}

.advantages-item {
  display: flex;
  min-height: 385px;
  list-style-type: none;
}

.advantages-phrasa::before {
  order: 1;
  margin-top: 20px;
  transform: translateY(-1px);
  margin-right: 170px;
  margin-left: 170px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-phrasa-first::before,
.advantages-phrasa-last::before {
  order: 1;
  transform: translateY(-12px);
  margin-right: 170px;
  margin-left: 170px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  content: "";
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
}

.advantages-item:nth-child(1),
.advantages-item:last-child {
  color: #FFFFFF;
  background: #82B3D3;
}

.advantages-item-img-first {
  display: block;
  margin-left: auto;
}

.advantages-item-img-second {
  order: -1;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.advantages-phrasa {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advantages-item-title-center {
  transform: translateY(10px);
}

.advantages-item-text-center {
  transform: translateY(10px);
}

.advantages-item-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 102px;
}

.advantages-item-text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400px;
  line-height: 21px;
  text-align: center;
  order: 2;
  margin-bottom: 100px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.service-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 385px;
}

.service-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-top: 64px;
  margin-bottom: 20px;
  padding: 0 70px;
}

.service-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 64px;
  padding: 0 70px;
}

.service-item-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-top: 183px;
}

.service-item-text {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #333333;
  transform: translateY(-15px);
}

.service-item:nth-child(1) {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: 161px 81px;
  background-color: rgba(131, 179, 211, 0.12);
}

.service-item:nth-child(2) {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: 162px 82px;
}

.service-item:nth-child(3) {
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-position: 168px 79px;
  background-color: rgba(131, 179, 211, 0.12);
}

.find-hotel-text-first {
  max-width: 510px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-top: 96px;
  margin-bottom: 20px;
}

.find-hotel-text-second {
  max-width: 600px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 52px;
}

.find-hotel-button {
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  display: block;
  margin-bottom: 94px;
  padding: 8px 50px;
  max-width: 380px;
}

.find-hotel-button:focus-visible {
  outline: 2px solid #82B3D3;
  background-color: #615048;
}

.find-hotel-button:hover {
  background-color: #615048;
}

.find-hotel-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.find-hotel-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.pagination-subscribe-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 430px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 100px;
  margin-bottom: 20px;
}

.pagination-subscribe {
  background-image: url("../images/subscribe-background.png");
  background-size: cover;
  background-color: #756157;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.pagination-subscribe-text {
  max-width: 500px;
  margin: 0 auto;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 49px;
}

.email-form {
  display: flex;
}

.email-input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  display: block;
  width: 452px;
  height: 52px;
  padding-left: 20px;
  margin-bottom: 104px;
  margin-left: 258px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.email-input:focus,
.email-input:active {
  background-color: #E6E6E6;
  outline: 3px solid #82B3D3;
}

.email-input:hover {
  background-color: #E6E6E6;
}

.subscribe-button {
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 258px;
  margin-bottom: 104px;
  padding: 8px 50px 8px 50px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: none;
}

.subscribe-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus-visible {
  background-color: #68A2CA;
  outline: 2px solid #82B3D3;
}

.subscribe-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

/*catalog*/
.navigation-link-hotels::before {
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  border-bottom: 2px solid #756257;
  content: "";
}

.button-home-in-catalog:hover,
.button-home-in-catalog:focus {
  opacity: 0.6;
}

.button-home-in-catalog:active {
  opacity: 0.3;
}

.button-home-in-catalog {
  fill: #FFFFFF;
}

.find-hotel-form-title-catalog {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0 0 0 70px;
  padding-top: 35px;
}

.find-hotel-form-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 21px;
  cursor: pointer;
  margin-right: 28px;
}

.find-hotel-form {
  background-image: url("../images/catalog-filter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756157;
  margin: 0 auto;
}

.find-hotel-form-link {
  list-style-type: none;
}

.find-hotel-form-item:not(:first-child)::before {
  width: 8px;
  height: 21px;
  position: absolute;
  top: 5px;
  left: -18px;
  background-image: url("../images/arrows-catalog.svg");
  background-repeat: no-repeat;
  content: "";
}

.main-header-li-in-catalog {
  list-style-type: none;
}

.main-header-in-catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 54px;
  padding: 0;
}

.main-header-li-in-catalog:first-child {
  margin-right: 37px;
}

.main-header-li-in-catalog:nth-child(3) {
  margin-left: 110px;
}

.find-hotel-form-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  list-style: none;
  margin: 8px 0 38px 70px;
  padding: 0;
}

.find-hotel-hotels {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 20px;
  height: 20px;
}

.filter-options-input[type="checkbox"]:checked + .control-mark::before,
.filter-options-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  content: "";
  background-image: url("../images/input-button-chekbox.svg");
}

.control-radio-mark {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.control-radio-mark:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-radio-mark:focus {
  outline: 2px solid #82B3D3;
}

.control-radio-mark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-options-input[type="checkbox"]:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-options-input[type="checkbox"]:focus-visible + .control-mark {
  outline: 3px solid #82B3D3;
}

.filter-options-input[type="checkbox"]:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-options-input[type="radio"]:disabled + .control-radio-mark::before,
.filter-options-input[type="radio"]:disabled + .control-radio-mark::after {
  opacity: 0.4;
}

.filter-options-input[type="radio"]:checked + .control-radio-mark::before,
.filter-options-input[type="radio"]:checked + .control-radio-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  background-color: #3F5E72;
  border-radius: 50%;
}

.filter-options-input[type="radio"]:hover + .control-radio-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-options-input[type="radio"]:focus-visible + .control-radio-mark {
  outline: 3px solid #82B3D3;
}

.filter-options-input[type="radio"]:active + .control-radio-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-label {
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.control-label:hover {
  opacity: 0.6;
}

.control-label:focus {
  opacity: 0.6;
}

.control-label:active {
  opacity: 0.3;
}

.filter-options-group {
  position: relative;
  min-width: 150px;
  padding-bottom: 73px;
  border: none;
}

.filter-options-list {
  padding: 0;
}

.filter-options-item:not(:last-child) {
  list-style-type: none;
  padding-bottom: 16px;
}

.filter-options-item:last-child {
  list-style-type: none;
}

.filer-options-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 27px;
  margin-top: 0;
}

.min-price-control {
  position: relative;
}

.filter-price-list {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-right: 43px;
}

.filter-options-bottom {
  list-style-type: none;
}

.price-min-phrasa {
  position: absolute;
  right: 20px;
  top: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
  color: #000000;
}

.max-price-control {
  position: relative;
}

.price-max-phrasa {
  position: absolute;
  right: 20px;
  top: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
  color: #000000;
}

.catalog-filter-input-max:hover {
  pointer-events: none;
  background-color: #E6E6E6;
}

.catalog-filter-input-max:active,
.catalog-filter-input-max:focus {
  border-radius: 0 4px 4px 0;
  outline: 3px solid #82B3D3;
  background: #E6E6E6;
}

.catalog-filter-input-max {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  width: 143px;
  height: 48px;
  padding-left: 20px;
}

.catalog-filter-input-min:hover {
  pointer-events: none;
  background-color: #E6E6E6;
}

.catalog-filter-input-min:active,
.catalog-filter-input-min:focus {
  outline: 3px solid #82B3D3;
  background: #E6E6E6;
  border-radius: 4px 0 0 4px;
}

.catalog-filter-input-min {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  width: 143px;
  height: 48px;
  padding-left: 20px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
}

.button-blue {
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  max-width: 200px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 8px 50px 8px 50px;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue:focus-visible {
  background-color: #82B3D3;
  outline: 2px solid #82B3D3;
}

.button-blue:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button-empty:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-empty:focus-visible {
  color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.button-empty:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-empty:disabled {
  color: #FFFFFF;
  background-color: transparent;
}

.button-empty {
  max-width: 200px;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  padding: 8px 58px 8px 58px;
}

.catalog-filter-input-min {
  -moz-appearance: textfield;
  border: none;
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.catalog-filter-input-max {
  -moz-appearance: textfield;
  border: none;
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  left: 63px;
  background: #707070;
  height: 4px;
  width: 226px;
  margin-top: 45px;
}

.range-bar {
  position: absolute;
  background: #FFFFFF;
  height: 4px;
}

.range-toggle {
  position: absolute;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  width: 20px;
  min-height: 20px;
  cursor: pointer;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.toggle-min {
  top: -8px;
  left: -1px;
}

.range-toggle:active {
  outline: 2px solid #82B3D3;
}

.range-toggle:focus-visible {
  outline: 3px solid #82B3D3;
}

.catalog-filter-input-min::-webkit-outer-spin-button,
.catalog-filter-input-min::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input-max::-webkit-outer-spin-button,
.catalog-filter-input-max::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.navigation-link-hotel {
  font-family: "PT Sans", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  border-bottom: 2px solid #756157;
  width: 68px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  margin-top: 31px;
}

.view-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
  width: 160px;
  margin-left: 70px;
  margin-top: 20px;
}

.view-button {
  position: relative;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  cursor: pointer;
}

.view-button:hover {
  border: 2px solid #82B3D3;
}

.view-button:focus-visible {
  border: 2px solid #82B3D3;
  outline: none;
}

.view-button:active {
  border: 2px solid #000000;
}

.view-icon {
  position: absolute;
  top: -1px;
  right: 0;
  bottom: 0;
  left: -2px;
  margin: auto;
  fill: #000000;
}

.view-button-current {
  border: 2px solid #000000;
  pointer-events: none;
  cursor: default;
}

.hotels-search {
  margin-right: 200px;
  margin-left: 70px;
  max-width: 350px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.result-select-control {
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-top: 20px;
  background-image: url("../images/select-arrow.svg");
  background-color: #FFFFFF;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  width: 292px;
  padding: 0 0 2px 20px;
  height: 49px;
}

.result-select-control:hover,
.result-select-control:focus-visible {
  border: 2px solid #82B3D3;
  outline: none;
  border-radius: 4px;
}

.result-select-control:active,
.result-select-control:disabled {
  opacity: 0.3;
}

.button-icons-catalog {
  fill: #000000;
}

.filter-options-label {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.filter-options-label:hover {
  opacity: 0.6;
}

.filter-options-label:focus {
  color: #FFFFFF;
}

.filter-options-label:active {
  opacity: 0.3;
}

.hotel-choice-link {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: 69px;
  margin-top: 21px;
  margin-bottom: 38px;
  gap: 18px;
}

.hotel-choice-span-href {
  text-decoration: none;
}

.hotel-choice-span {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 16px;
  margin-left: 20px;
  max-width: 100px;
}

.hotel-choice-span-second {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 20px 16px auto;
  max-width: 100px;
}

.hotel-choice-item {
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.description-cart {
  display: flex;
  flex-wrap: wrap;
}

.hotel-choice-img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.hotel-choice-span-href:focus-visible .hotel-choice-title {
 outline: 2px solid #82B3D3;
}

.hotel-choice-span-href:focus-visible .hotel-choice-img {
  outline: 2px solid #82B3D3;
}

.hotel-choice-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 16px 20px 16px 20px;
}

.hotel-choice-title:hover {
  color: #756157
}

.hotel-choice-title:active {
  opacity: 0.3;
}
.hotel-choice-title:focus-visible {
  outline: none;
}
.hotel-choice-details {
  align-self: center;
  max-width: 90px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  padding: 8px 26px 8px 26px;
  margin-left: 20px;
  margin-right: auto;
}

.hotel-choice-details:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.hotel-choice-details:hover {
  background-color: #615048;
}

.hotel-choice-details:focus-visible {
  outline: 2px solid #82B3D3;
  background-color: #615048;
}

.hotel-choice-details:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-choice-rating {
  align-self: center;
  max-width: 95px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 8px 23px 8px 23px;
  margin: 16px 20px 20px auto;
}

.favorites-button {
  align-self: center;
  max-width: 140px;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
  border: none;
  margin-right: 20px;
  margin-left: 16px;
  padding: 8px 20px 8px 20px;
}

.favorites-button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.favorites-button:hover {
  background-color: #68A2CA;
}

.favorites-button:focus-visible {
  outline: 2px solid #82B3D3;
  background-color: #68A2CA;
}

.favorites-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-button-2-hotel {
  align-self: center;
  cursor: pointer;
  max-width: 140px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 4px;
  margin-right: 20px;
  padding: 8px 18px 8px 18px;
  margin-left: 16px;
  border: none;
}

.favorites-button-2-hotel:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.favorites-button-2-hotel:hover {
  background-color: #6C9E42;
}

.favorites-button-2-hotel:focus-visible {
  outline: 2px solid #82B3D3;
  background-color: #6C9E42;
}

.favorites-button-2-hotel:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.star-3::before {
  width: 63px;
  margin-left: 20px;
}

.star-4::before {
  width: 86px;
  margin-left: 21px;
}

.star-2::before {
  width: 42px;
  margin-left: 20px;
}

.star::before {
  display: block;
  margin-top: 26px;
  height: 17px;
  background-image: url("../images/star-cards-catalog.svg");
  background-repeat: space no-repeat;
  background-size: contain;
  content: "";
}

.divider-big {
  width: 1060px;
  height: 1px;
  margin: 0 auto 40px;
  background-color: #E6E6E6;
}

.pagination {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 1060px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  gap: 8px;
  margin-left: 70px;
}

.pagination-item {
  list-style-type: none;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 12px 23px;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link-last {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 12px 18px;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus-visible {
  background-color: #68A2CA;
  outline: 2px solid #82B3D3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  pointer-events: none;
  cursor: default;
}

.pagination-more {
  color: #000000;
  background-color: transparent;
  pointer-events: none;
  cursor: default;
}

.pagination-subscribe-catalog {
  background-color: #FFFFFF;
  font-family: "PT Sans", sans-serif;
}

.pagination-subscribe-title-catalog {
  margin: 0 auto;
  max-width: 410px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 155px;
  margin-bottom: 0;
}

.pagination-subscribe-text-catalog {
  margin: 0 auto;
  max-width: 480px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  margin-top: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 54px;
}

.footer-index {
  display: flex;
  margin: 0 auto;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  max-width: 200px;
  margin-top: 43px;
  margin-left: 70px;
}

.social-link {
  display: block;
  padding: 13px 13px;
}

.social-link:focus-visible {
  outline: 2px solid #82B3D3;
}

.social-item {
  list-style-type: none;
}

.social-icon {
  fill: #83B3D3;
}

.social-link:hover .social-icon {
  fill: #68A2CA;
}

.social-link:focus-visible .social-icon {
  fill: #68A2CA;
}

.social-link:active .social-icon {
  opacity: 0.3;
}

.contacts-section {
  margin: 45px 235px 0 auto;
  max-width: 340px;
}

.contacts {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.contacts:hover {
  color: #756157;
}

.contacts:focus-visible {
  outline: 2px solid #83B3D3;
  color: #756157;
}

.contacts:active {
  opacity: 0.3;
}

.logo-html-academy {
  fill: #000000;
  display: block;
  margin-right: 68px;
  margin-top: 48px;
}

.logo-html-academy-link:hover .logo-html-academy {
  fill: #756157;
}

.logo-html-academy-link:focus-visible .logo-html-academy {
  fill: #756157;
}

.logo-html-academy-link:active .logo-html-academy {
  opacity: 0.3;
}

.logo-html-academy-link:focus-visible {
  outline: 2px solid #83B3D3;
}

/*modal-winter*/
.modal-container {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal-hotel-search {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  width: 717px;
  min-height: 576px;
  box-sizing: border-box;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);

}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 53px;
  height: 53px;
  padding: 0;
  font-family: inherit;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
}

.close-button-svg {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  fill: #000000;
}

.modal-close-button:hover,
.modal-close-button:focus-visible,
.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:focus-visible {
  outline: 3px solid #83B3D3;
}

.modal-close-button:active .close-button-svg {
  opacity: 0.3;
}

.modal-title {
  margin: 0 0 64px 0;
  padding-right: 44px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-search-form {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 48px;
}

.modal-input-label {
  position: relative;
  display: flex;
  align-items: center;
}

.modal-input-label-title {
  max-width: 137px;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.modal-input {
  position: relative;
  height: 48px;
  margin-left: auto;
  font-family: inherit;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-input:hover {
  background-color: #E6E6E6;
}

.modal-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-input-date {
  width: 440px;
  padding: 12px 20px;
  padding-right: 60px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.modal-icon {
  position: absolute;
  top: 14px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../images/calendar.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}

.date-comment {
  position: absolute;
  top: 52px;
  left: 137px;
  padding-left: 20px;
  font-size: 16px;
}

.comment-not-available {
  color: #FF5757;
}

.modal-guests-counters {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.guests-counter {
  position: relative;
  display: flex;
  align-items: center;
}

.modal-input-guests {
  width: 110px;
  box-sizing: border-box;
  padding: 14px 10px;
  margin-left: 46px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  -moz-appearance: textfield;
}

.modal-input-guests::-webkit-outer-spin-button,
.modal-input-guests::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.modal-quantity {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 110px;
  height: 48px;
}

.modal-quantity-button {
  position: relative;
  display: block;
  height: 48px;
  width: 40px;
  padding: 0;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.button-minus-icon,
.button-plus-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  fill: rgba(117, 97, 87, 0.3);
}

.modal-quantity-button:hover .button-minus-icon,
.modal-quantity-button:hover .button-plus-icon,
.modal-quantity-button:focus-visible .button-minus-icon,
.modal-quantity-button:focus-visible .button-plus-icon,
.modal-quantity-button:active .button-minus-icon,
.modal-quantity-button:active .button-plus-icon {
  fill: #000000;
}

.modal-quantity-button:focus-visible .button-minus-icon,
.modal-quantity-button:focus-visible .button-plus-icon {
  outline: 3px solid #82B3D3;
}

.modal-quantity-button:active .button-minus-icon,
.modal-quantity-button:active .button-plus-icon {
  fill-opacity: 0.2;
  outline: none;
}

.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  margin-left: 10px;
}

.tooltip-toggle {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  width: 256px;
  padding: 20px 18px 24px 22px;
  box-sizing: border-box;
  margin-top: 15px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  background-color: #333333;
  border-radius: 10px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus-visible + .tooltip-text {
  display: block;
}

.tooltip-text::before {
  position: absolute;
  top: -6px;
  left: 121px;
  transform: rotate(45deg);
  z-index: 1;
  width: 13px;
  height: 13px;
  background-color: inherit;
  content: "";
}

.modal-search-form .button {
  min-height: 60px;
}

.modal-button-search {
  background-color: #83B3D3;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 18px 256px;
  border-radius: 10px;
}

.modal-button-search:focus-visible {
  background-color: #68A2CA;
  outline: 3px solid #82B3D3;
}

.modal-button-search:hover {
  background-color: #68A2CA;
}

.modal-button-search:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3)
}
